html {
  --light: #f4f4f4;
  --dark: #161616;
  --text: var(--dark);
  --background: var(--light);
}

html[data-dark-mode] {
  --text: var(--light);
  --background: var(--dark);
}

body {
  font-family: "IBM Plex Sans", system;
  color: var(--text);
  background-color: var(--background);
  position: relative;
  transition-duration: 200ms;
  transition-property: color, background-color;
  transition-timing-function: ease;
  padding: 1rem;
  max-width: 700px;
  margin: 160px auto;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 3.375rem;
  line-height: 64px;
  padding-right: 1rem;
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.25rem;
}

p {
  font-family: "IBM Plex Sans KR", system;
  font-size: 16px;
}

button {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  padding: 0.5rem;
  height: 64px;
  width: 64px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-items: center;
}

button svg {
  width: 100%;
  transition: all 200ms ease;
  fill: var(--text);
}

footer {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1rem; */
}

a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin-top: 120px;
  color: var(--text);
}

@media (max-width: 600px) {
  body {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    line-height: 1.15;
  }
}
